fastapi
uvicorn
pandas
numpy
scikit-learn
statsmodels
arch
yfinance
xgboost
scipy
python-multipart
pydantic

# ===== NEW FOR NSE + BSE =====
nsepython
beautifulsoup4
requests

# ===== HELPERS USED BY YFINANCE =====
lxml
html5lib